<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<form action="search" method="get">
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>


<form action="createUser" method="post">
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Create">
</form>

<label>Users</label>
<ul>
    {% for user in users %}
        <li>{{ user }}</li>
    {% endfor %}
</ul>


</body>
</html>