<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Hello, {{ bacon|safe }}</label>
<form method="post">
    <input type="text" name="data">
    <input type="submit">
</form>

</body>
</html>