<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="search" method="get">
    <input name="name" type="text">
    <input type="submit">
</form>

<form action="createUser" method="post">
    <input name="username" type="text">
    <input name="password" type="text">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit">
</form>
<ul>
    {% for user in users %}
        <li>{{ user }}</li>
    {% endfor %}
</ul>
</body>
</html>