<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<label>result for {{ search|safe }}: </label>
<label>{{ result|safe }}</label>

</body>
</html>